{{! convert to hbs or web compoent template }}
<br/>
<section class="qld__body">
    <div class="container-fluid">

        <div class="qld__code multiline  with-preview">
            <div class="qld__code-preview">
                <span class="qld__code-preview-tab">Example</span>
                <div class="qld__code-preview-colours">
                    <span class="qld__code-preview-colours-label">Theme</span>
                    <ul>
                        <li>
                            <input type="radio" name="qld__code-preview-colours-146330" id="qld__code-preview-colours__default-146330" value="" checked>
                            <label for="qld__code-preview-colours__default-146330">White</label>
                        </li>
                        <li>
                            <input type="radio" name="qld__code-preview-colours-146330" id="qld__code-preview-colours__light-146330" value="qld__body--light">
                            <label for="qld__code-preview-colours__light-146330">Light</label>
                        </li>
                        <li>
                            <input type="radio" name="qld__code-preview-colours-146330" id="qld__code-preview-colours__alt-146330" value="qld__body--alt">
                            <label for="qld__code-preview-colours__alt-146330">Alt</label>
                        </li>
                        <li>
                            <input type="radio" name="qld__code-preview-colours-146330" id="qld__code-preview-colours__dark-146330" value="qld__body--dark">
                            <label for="qld__code-preview-colours__dark-146330">Dark</label>
                        </li>
                        <li>
                            <input type="radio" name="qld__code-preview-colours-146330" id="qld__code-preview-colours__dark-alt-146330" value="qld__body--dark-alt">
                            <label for="qld__code-preview-colours__dark-alt-146330"> Dark-alt</label>
                        </li>
                    </ul>
                </div>
                <div class="qld__code-preview-body qld__body" >
                    <h4>
                        Background colour example
                    </h4>

                    <div class="qld__callout">
                        <p>There are four background colours, and four background shades. Background shades determin the colour of components that sit on top of a specific background colour. This callout uses a background shade that responds the the colour of the background. </p>
                    </div>
                    <br/>
                </div>
            </div>
        </div>
    </div>
</section>

