<!-- TODO convert to hbs file -->
    <div class="container-fluid">

        <div class="qld__code multiline show_less with-preview">
            <div class="qld__code-preview">
                <span class="qld__code-preview-tab">Example</span>
                <div class="qld__code-preview-body "  style="border-radius: 0 12px 0 0;" >
                    <p class="qld__display-md">Components, major containers, and sections spacing </p><hr>

                    <section class="example-section-space qld__example__container qld__margin-t-section">
                        <p class="qld__max-width">
                            <span class="qld__display-sm">&lt;Section&gt;</span>
                        </p>
                    </section><div class="example-content-block-space qld__example__container qld__margin-t-content-block">
                    <p class="qld__max-width">
                        <span class="qld__display-sm">&lt;div&gt; Content block container</span>
                    </p>
                </div><div class="example-component-space qld__example__container qld__margin-t-component">
                    <p class="qld__max-width">
                        <span class="qld__display-sm">&lt;div&gt; Space between components such as cards, accoridions and tables</span>
                    </p>
                </div><p class="qld__display-md">Heading, text and paragraph spacing</p>
                    <hr><h1 class="example-section-space qld__example__container qld__margin-t-section">
                    Heading 1
                </h1>
                    <div class="example-heading-2-space qld__display-xl qld__example__container" id="section__heading-2" tabindex="-1">
                        Heading 2
                    </div>
                    <h3 class="example-heading-3-space qld__example__container">
                        Heading 3
                    </h3><h4 class="example-heading-4-space qld__example__container">
                    Heading 4 - 6
                </h4><p class="example-text-element-space qld__abstract qld__example__container qld__margin-t-text-element qld__max-width">
                    Space between two different text elements
                </p>
                    <p class="example-paragraph-space qld__example__container qld__margin-t-p qld__max-width">

                        Space between two paragaphs

                    </p>
                    <p class="example-labels-space qld__caption qld__example__container qld__margin-t-label qld__max-width">
                        Space between labels/hints and input fields
                    </p>

                    <p class="qld__display-md">List spacing</p><ul class="qld__margin-t-li--lg qld__margin-t-text-element qld__max-width">
                    <li class="qld__example__container">
                        <p class="qld__max-width">
                            <span class="qld__display-xs">Wide list spacing</span> | <span class="qld__default-xs">qld__margin-t-li--lg applied to ul</span>
                        </p>
                    </li>
                    <li class="example-list-itmes-wide-space qld__example__container">
                        <p class="qld__max-width">
                            <span class="qld__display-xs">Wide list spacing</span> | <span class="qld__default-xs">qld__margin-t-li--lg applied to ul</span>
                        </p>
                    </li>
                    <li class="example-list-itmes-wide-space qld__example__container">
                        <p class="qld__max-width">
                            <span class="qld__display-xs">Wide list spacing</span> | <span class="qld__default-xs">qld__margin-t-li--lg applied to ul</span>
                        </p>
                    </li>
                </ul>

                    <ul class="qld__margin-t-li--sm qld__margin-t-text-element qld__max-width">
                        <li class="qld__example__container ">
                            <p class="qld__max-width">
                                <span class="qld__display-xs">Close list spacing</span> | <span class="qld__default-xs">qld__margin-t-li--sm applied to ul</span>
                            </p>
                        </li>
                        <li class="example-list-itmes-close-space qld__example__container">
                            <p class="qld__max-width">
                                <span class="qld__display-xs">Close list spacing</span> | <span class="qld__default-xs">.qld__margin-t-li--sm applied to ul</span>
                            </p>
                        </li>
                        <li class="example-list-itmes-close-space qld__example__container">
                            <p class="qld__max-width">
                                <span class="qld__display-xs">Close list spacing</span> | <span class="qld__default-xs">qld__margin-t-li--sm applied to ul</span>
                            </p>
                        </li>
                    </ul>
                    <br/>
                </div>
            </div>
            <div class="qld__code-header">
                <div class="qld__code-header-left">
                    <a href="https://www.figma.com/design/qKsxl3ogIlBp7dafgxXuCA/branch/bk9GAqQgpN7Yz4q4TsAvGV/QLD-GOV-DDS?m&#x3D;auto&amp;node-id&#x3D;60481-26611&amp;t&#x3D;yXmuZQxExWNefZFk-1" class="qld__code-header-link" target="_blank"><i class="fa-regular fa-arrow-up-right-from-square"></i> Figma</a>
                </div>
            </div>
        </div>
    </div>

<style>

/*    ----------------------------------------------------------------------------------------------------------*/

/*    These styles are used to help show how vertical space works*/

/*    ---------------------------------------------------------------------------------------------------------- *!*/


.qld__example__container {
    background-color: #f5f5f5;
    border: solid #ebebeb 1px;
    border: solid #ebebeb 0.0625rem;
    padding: 0.375rem 0.5rem;
}

* + .qld__example__container {
    margin-top:0.5rem;
}


    .example-section-space, .example-content-block-space, .example-heading-2-space, .example-heading-3-space, .example-heading-4-space, .example-component-space, .example-text-element-space, .example-paragraph-space, .example-list-itmes-wide-space, .example-list-itmes-close-space, .example-labels-space{
        position:relative;
    }



    .example-section-space::before {
        content: "40px margin-top";
        position: absolute;
        top: -41px;
        left: -1px;
        right: -1px;
        text-align: center;
        color: #0094FF;
        font-size: 0.8rem;
        height: 40px;
        background-color: rgba(0, 148, 255, 0.07);
        padding:  calc((40px / 1.6) - 0.8rem);
        font-weight:bold;
    }

    .example-content-block-space::before {
        content: "32px margin-top";
        position: absolute;
        top: -33px;
        left: -1px;
        right: -1px;
        text-align: center;
        color: #7AB941;
        font-size: 0.8rem;
        height: 32px;
        background-color: rgba(122, 185, 65, 0.12);
        padding:  calc((32px / 1.6) - 0.8rem);
        font-weight:bold;
    }


    .example-heading-2-space::before {
        content: "32px margin-top";
        position: absolute;
        top: -33px;
        left: -1px;
        right: -1px;
        text-align: center;
        color: #7AB941;
        font-size: 0.8rem;
        height: 32px;
        background-color: rgba(122, 185, 65, 0.12);
        padding:  0;
        font-weight:bold;
    }

    .example-heading-3-space::before {
        content: "32px margin-top";
        position: absolute;
        top: -33px;
        left: -1px;
        right: -1px;
        text-align: center;
        color: #7AB941;
        font-size: 0.8rem;
        height: 32px;
        background-color: rgba(122, 185, 65, 0.08);
        padding: 8px;
        font-weight:bold;
    }

    .example-heading-4-space::before {
        content: "20px margin-top";
        position: absolute;
        top: -21px;
        left: -1px;
        right: -1px;
        text-align: center;
        color: #7AB941;
        font-size: 0.8rem;
        height: 20px;
        background-color: rgba(122, 185, 65, 0.05);
        padding: 0;
        font-weight:bold;
    }

    .example-component-space::before {
        content: "24px margin-top";
        position: absolute;
        top: -25px;
        left: -1px;
        right: -1px;
        text-align: center;
        color: #ecbf20;
        font-size: 0.8rem;
        height: 24px;
        background-color: rgba(236, 191, 32, 0.17);
        padding: calc((24px / 1.6) - 0.8rem);
        font-weight:bold;
    }

    .example-text-element-space::before {
        content: "20px margin-top";
        position: absolute;
        top: -21px;
        left: -1px;
        right: -1px;
        text-align: center;
        color: #CF99DC;
        font-size: 0.8rem;
        height: 20px;
        background-color: rgba(207, 153, 220, 0.17);
        padding: calc((20px / 1.6) - 0.8rem);
        font-weight:bold;
    }


    .example-paragraph-space::before {
        content: "";
        position: absolute;
        top: -17px;
        left: -1px;
        right: -1px;
        text-align: center;
        color: #C53368;
        font-size: 0.8rem;
        height: 16px;
        background-color: rgba(197, 51, 104, 0.17);
        font-weight:bold;
    }

    .example-list-itmes-wide-space::before {
        content: "";
        position: absolute;
        top: -13px;
        left: -1px;
        right: -1px;
        text-align: center;
        color: #551A8B;
        font-size: 0.5rem;
        height: 12px;
        background-color: rgba(85, 26, 139, 0.16);
        font-weight:bold;
    }

    .example-list-itmes-close-space::before {
        content: "";
        position: absolute;
        top: -9px;
        left: -1px;
        right: -1px;
        text-align: center;
        color: #551A8B;
        font-size: 0.3rem;
        height: 8px;
        background-color: rgba(85, 26, 139, 0.10);
        font-weight:bold;
    }

    .example-labels-space::before {
        content: "";
        position: absolute;
        top: -9px;
        left: -1px;
        right: -1px;
        text-align: center;
        color: #C0D7EC;
        font-size: 0.3rem;
        height: 8px;
        background-color: rgba(38, 105, 212, 0.10);
    }


    @media (min-width: 992px) {

        .example-section-space::before {
            content: "64px margin-top";
            position: absolute;
            top: -65px;
            left: -1px;
            right: -1px;
            text-align: center;
            color: #0094FF;
            font-size: 0.8rem;
            height: 64px;
            background-color: rgba(0, 148, 255, 0.07);
            padding: calc((64px / 1.6) - 0.8rem);
        }

        .example-content-block-space::before {
            content: "48px margin-top";
            position: absolute;
            top: -49px;
            left: -1px;
            right: -1px;
            text-align: center;
            color: #7AB941;
            font-size: 0.8rem;
            height: 48px;
            background-color: rgba(122, 185, 65, 0.12);
            padding:  calc((48px / 1.6) - 0.8rem);
        }

        .example-heading-2-space::before {
            content: "48px margin-top";
            position: absolute;
            top: -49px;
            left: -1px;
            right: -1px;
            text-align: center;
            color: #7AB941;
            font-size: 0.8rem;
            height: 48px;
            background-color: rgba(122, 185, 65, 0.12);
            padding:  calc((48px / 1.6) - 0.8rem);
        }

        .example-heading-3-space::before {
            content: "36px margin-top";
            position: absolute;
            top: -37px;
            left: -1px;
            right: -1px;
            text-align: center;
            color: #7AB941;
            font-size: 0.8rem;
            height: 36px;
            background-color: rgba(122, 185, 65, 0.08);
            padding:  calc((32px / 1.6) - 0.8rem);
        }

        .example-heading-4-space::before {
            content: "32px margin-top";
            position: absolute;
            top: -33px;
            left: -1px;
            right: -1px;
            text-align: center;
            color: #7AB941;
            font-size: 0.8rem;
            height: 32px;
            background-color: rgba(122, 185, 65, 0.05);
            padding: calc((32px / 1.6) - 0.8rem);
        }

        .example-component-space::before {
            content: "32px margin-top";
            position: absolute;
            top: -33px;
            left: -1px;
            right: -1px;
            text-align: center;
            color: #ecbf20;
            font-size: 0.8rem;
            height: 32px;
            background-color: rgba(236, 191, 32, 0.17);
            padding: calc((32px / 1.6) - 0.8rem);
        }

        .example-text-element-space::before {
            content: "24px margin-top";
            position: absolute;
            top: -25px;
            left: -1px;
            right: -1px;
            text-align: center;
            color: #CF99DC;
            font-size: 0.8rem;
            height: 24px;
            background-color: rgba(207, 153, 220, 0.17);
            padding: calc((24px / 1.6) - 0.8rem);
        }

        .example-paragraph-space::before {
            content: "";
            position: absolute;
            top: -17px;
            left: -1px;
            right: -1px;
            text-align: center;
            color: #C53368;
            font-size: 0.8rem;
            height: 16px;
            background-color: rgba(197, 51, 104, 0.17);
        }


        .example-list-itmes-wide-space::before {
            content: "";
            position: absolute;
            top: -13px;
            left: -1px;
            right: -1px;
            text-align: center;
            color: #551A8B;
            font-size: 0.5rem;
            height: 12px;
            background-color: rgba(85, 26, 139, 0.16);
        }

        .example-list-itmes-close-space::before {
            content: "";
            position: absolute;
            top: -9px;
            left: -1px;
            right: -1px;
            text-align: center;
            color: #551A8B;
            font-size: 0.3rem;
            height: 8px;
            background-color: rgba(85, 26, 139, 0.10);
        }

        .example-labels-space::before {
            content: "";
            position: absolute;
            top: -9px;
            left: -1px;
            right: -1px;
            text-align: center;
            color: #C0D7EC;
            font-size: 0.3rem;
            height: 8px;
            background-color: rgba(38, 105, 212, 0.10);
        }


    }
</style>
