{{! link v0.0.2}}
<a{{#if component.data.metadata.id_field.value}} id="{{component.data.metadata.id_field.value}}"{{/if}} class="qld__cta-link{{#if component.data.view_all}} qld__cta-link--view-all{{/if}}" href="{{component.data.url}}"{{#if component.data.disabled}} disabled="disabled"{{/if}}>
    {{{component.data.value}}}{{{component.data.content.value}}}
</a>
