<section class="qld__body qld__page-alerts--wrapper" id="{{assetid}}">
  <div class="container-fluid">
    <div class="qld__page-alerts qld__page-alerts--{{type}}">
      {{!-- {{#if heading}} --}}
      <div class="qld__page-alerts--heading qld__display-lg">{{heading}}</div>
      {{!-- {{/if}} --}}
      {{!-- {{#if body}} --}}
      <div>{{{body}}}</div>
      {{!-- {{/if}} --}}
    </div>
  </div>
</section>