<div class="footer-scripts" id="footer_js" style="display: none !important;">
    <script src="https://kit.fontawesome.com/fb2f2d4cd6.js" crossorigin="anonymous"></script>
    <script src="./assets/js/main.js"></script>
    <link rel="stylesheet" href="./assets/css/main.css" />
<!--    ${require('../components/_global/html/scripts.html')}-->
</div>
