<section>
  <div class="container-fluid">
    <div class="qld__accordion-group qld__accordion-group--dark" id="accordion-group--example-2">
      <div class="qld__accordion__toggle">
        <button class="qld__accordion__toggle-btn qld__accordion__toggle-btn--closed">Open all</button>
      </div>
      <ul class="qld__accordion-list">
        <li>
          <div class="qld__accordion">
            <button
              class="qld__accordion__title js-qld__accordion qld__accordion--closed"
              aria-controls="DarkExample_1"
              aria-expanded="false">
              Accordion heading 1
            </button>

            <div class="qld__accordion__body qld__accordion--closed" id="DarkExample_1">
              <div class="qld__accordion__body-wrapper">
                Here <a href="accordions.html#url">is</a> some accordion content
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="qld__accordion">
            <button
              class="qld__accordion__title js-qld__accordion qld__accordion--closed"
              aria-controls="DarkExample_2"
              aria-expanded="false">
              Accordion heading 2
            </button>

            <div class="qld__accordion__body qld__accordion--closed" id="DarkExample_2">
              <div class="qld__accordion__body-wrapper">
                Here <a href="accordions.html#url">is</a> some accordion content
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="qld__accordion">
            <button
              class="qld__accordion__title js-qld__accordion qld__accordion--closed"
              aria-controls="DarkExample_3"
              aria-expanded="false">
              Accordion heading 3
            </button>

            <div class="qld__accordion__body qld__accordion--closed" id="DarkExample_3">
              <div class="qld__accordion__body-wrapper">
                Here <a href="accordions.html#url">is</a> some accordion content
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
