<section>
  <div class="container-fluid">
    <div class="qld__accordion-group" id="Signle-action--example-1">
      <div class="qld__accordion">
        <button
          class="qld__accordion__title js-qld__accordion qld__accordion--closed"
          aria-controls="Light-Example_1"
          aria-expanded="false">
          Accordion heading 1
        </button>

        <div class="qld__accordion__body qld__accordion--closed" id="Light-Example_1">
          <div class="qld__accordion__body-wrapper">
            Here <a href="accordions.html#url">is</a> some accordion content
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
